.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* layout */
.about-content {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
    width: 100%;
}

/* image */
.profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.644);
}

/* text */
.about-text h2 {
    margin-bottom: 10px;
    color: white;
}

.about-text p {
    line-height: 1.6;
    color: white;
}

/* mobile */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .profile-img {
        width: 180px;
        height: 180px;
    }
}